</br>

  <head>
    <title>GeorgiaAT</title>
    <style>
    /*h1 {
          font-size:50px;
          text-align: center;
        }
    h2 { font-size: 45px;
         text-align: center;
         font-style: italic;
        }
    #html body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }*/
    /*#full-screen-background-image {
          z-index: -999;
          min-height: 100%;
          min-width: 1024px;
          width: 100%;
          height: auto;
          position: fixed;
          top: 0;
          left: 0;
          opacity: 0.5;
         }
    #wrapper {
          position: relative;
          width: 800px;
          min-height: 400px;
          margin: 100px auto;
          color: #333;
    }*/
    /*p {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    p1 {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
    }*/
    
.img-author-photo {
        border: 2px solid;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        box-shadow: 10px 10px 5px #999999;

    }

    </style>
  </head>
 

<div id="wrapper">



<h2>Sharon Connell (aka Oma)</h2>
<img class="img-author-photo" src="<%=image_path('author_stream.jpg')%>" alt="Profile Photo" style="width:304px;height:228px"><p>
</br>
<p1>The author enjoys a full time career in addition to her jaunts in the woods with her husband (of 32+ years) Thomas and her sweet Rottweiler.</p1><p><p1>Her six adult kids and 4 grandchildren are a constant source of wonder and delight.</p1><p>




</div>



</body>

