<h1>Welcome to EZ's Portfolio!</h1>

<a href="http://yahoo.com"> go HERE! </a>
<p>You can see her many adventures! <p>I am adding more text within the body!</p>
<ul>
    <li> one fish</li>
    <li> two fish</li>
    <li> red fish</>
</ul>
<ol>
    <li> Wake up</li>
    <li> Get up</>
    <li> Put on slippers</li>



<a href="http://rottweilernation.com/dogs/carters-noble-shaka-zulu.com" target="_blank">
<img src="http://pawvillage.com/pedigree/dogpics/B0TMX7FKYQ_1.JPG">
</a>