  <head>
   
    <style>
/*    h1 {
          font-size:30px;
          text-align: center;
        }
    h2 { font-size: 25px;
         text-align: center;
         font-style: italic;
        }
    #html body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }*/
    /*#full-screen-background-image {
          z-index: -999;
          min-height: 100%;
          min-width: 1024px;
          width: 100%;
          height: auto;
          position: fixed;
          top: 0;
          left: 0;
          opacity: 0.8;
         }
    #wrapper {
          position: relative;
          width: 800px;
          min-height: 400px;
          margin: 100px auto;
          color: #333;
    }*/
/*    p {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }*/

    

    </style>

<title>GeorgiaHiking</title>
  </head>
  <body>
   <!--  <img alt="full screen background image" src="<%=image_path('blood_mt_vista.jpg')%>" id="full-screen-background-image" /> -->
    <div id="wrapper">

<h1>Hiking The Appalachian Trail in Georgia</h1>

<h2>From Georgia With Love...</h2>

<p>Why would anyone undertake the +/- 2180 miles of the Appalachian Trail?</p> 
<p>
<p>Why sleep on the ground, go without showers, endure hour after hour of walking through the woods with the off chance of meeting a bear or snake?</p> 
<p>
<p>Through hikers (those intrepid hiker attempting the whole trail), have diverse reasons. I have met members of the military taking the opportunity before beginning their civilian lives, retirees seizing the opportunity to do something they have always dreamed of doing, college students taking a semester off, a mid-life crisis, or numerous other reasons. Each hiker has a unique story and this is one of the many things to discover along the way.</p>
<p>
<p>The Appalachian Trail travels 78.5 miles through Georgia. Springer Mountain is the southern terminus of the AT.  The Georgia portion is between 2500 feet in elevation with a high point of 4461 feet at Blood Mountain. This can be startling for those starting the hike not in the best of condition.
 </p>
<p>
 <p>This guide of the Georgia in the hope you will not only overcome the Georgia portion, but enjoy it!</p><p>
<!-- <p><a href=/welcome/about.html>About the author...</a></p>
 -->

</div>



</body>

