<head>   
<title>GeorgiaHiking</title>
</head>
<body>
  <div id="wrapper">
</br>
<h2>Hiking The Appalachian Trail in Georgia</h2>

<h4>From Georgia With Love...</h4>

<p>Why would anyone undertake the +/- 2180 miles of the Appalachian Trail?</p> 
<p>
<p>Why sleep on the ground, go without showers, endure hour after hour of walking through the woods with the off chance of meeting a bear or snake?</p> 
<p>
<p>Through hikers (those intrepid hiker attempting the whole trail), have diverse reasons. I have met members of the military taking the opportunity before beginning their civilian lives, retirees seizing the opportunity to do something they have always dreamed of doing, college students taking a semester off, a mid-life crisis, or numerous other reasons. Each hiker has a unique story and this is one of the many things to discover along the way.</p>
<p>
<p>The Appalachian Trail travels 78.5 miles through Georgia. Springer Mountain is the southern terminus of the AT.  The Georgia portion is between 2500 feet in elevation with a high point of 4461 feet at Blood Mountain. This can be startling for those starting the hike not in the best of condition.
 </p>
<p>
 <p>The Georgia portion of the AT offers many stunning vistas and interesting flora and fauna. It is written in the hope you will not only overcome the Georgia portion, but relish it!</p><p>


</div>



</body>


    
