  <head>
    <style>
      h1 {
          font-size:50px;
          text-align: center;
        }
    body {
          background-image: url("https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/536621_3653823591621_1292587889_n.jpg?oh=7b9cbada61f0a2f09bb6f41eae96b91e&oe=553198C5");
          background-repeat: no-repeat;
          background-size: cover;
         }
    p {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    </style>
  </head>
  <body>


<h1>Hiking the Appalacian Trail in Georgia</h1>


<p>From Georgia With Love...</p>
<p>Most hikers attempting to hike the entire Appalacian Trail begin in Georgia in the early Spring. This is a quick guide to help you enjoy the Georgia portion of the trail. Most hikers that abandon the attempt to through hike from Georgia to Maine sadly end their trek in Georgia. This guide is my small contribution to ambitious hikers in the hope you will not only overcome the Georgia portion, but enjoy it!</p>
<p>About the author...</p>






</body>

